:root {
    --main-color: #333;
    --main-color-2: #ffc000;
    --main-color-3: #272D33;
    --primary-color: #39364e;
    --secondary-color: #696969;
    --white-color: white;
    --fourthly-color: #9e9e9e;
    --dark-gray: #303030;
    --border-color: #1188dd26;
    --transition: 0.4s;
    --main-padding: 60px;
    --main-fontWeight: 700;
}

h3 {
    color: var(--primary-color);
}

p {
    color: var(--secondary-color);
}

a {
    color: var(--primary-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

a:hover {
    color: var(--main-color-2);
}

.main-heading {
    font-size: 34px;
    line-height: 32px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--main-color-3);
}

.main-heading::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background-color: var(--main-color-2);
    z-index: 2;
}

.main-heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 200px;
    background-color: #dadada;
}

.main-sub-heading {
    max-width: 80%;
    font-size: 16px;
    margin: 0 auto 60px;
    color: var(--fourthly-color);
}

.general-btn {
    width: fit-content;
    margin: 30px auto 0;
    padding: 10px;
    color: var(--white-color);
    background-color: var(--main-color-2);
    font-weight: 700;
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.general-btn:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

/* Start Hero Section */

#hero {
    height: 100vh;
}

#hero .carousel-item {
    position: relative;
    overflow: hidden;
    height: 100vh;
    max-height: 100%;
}

#hero .carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
}

#hero img {
    height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 99;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(128, 128, 128, 0.611);
    background-size: 27px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    z-index: 99;
}

#hero .info-content {
    display: block !important;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    color: white;
    z-index: 9;
}

/* End Hero Section */

/* Start call-to-action Section */

#call-to-action {
    background-color: var(--main-color-3);
    overflow: hidden;
}

#call-to-action .call-to-action-title {
    color: #fff;
    margin: 0;
    padding: 25px 0;
    line-height: normal;
    font-size: 22px;
    text-transform: capitalize;
}

#call-to-action .call-to-action-btn-angle {
    background: var(--main-color-2);
    min-height: 80px;
    padding: 28px 0;
    position: relative;
    text-align: center;
}

#call-to-action .call-to-action-btn-angle:before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    z-index: 0;
    border-left: 30px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 80px solid var(--main-color-2);
    bottom: 0;
}

#call-to-action .call-to-action-btn-angle:after {
    content: "";
    position: absolute;
    background: var(--main-color-2);
    display: block;
    width: 300%;
    height: 100%;
    right: -300%;
    top: 0;
}

#call-to-action .call-to-action-btn-angle a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* End call-to-action Section */

/* Start What We Provide Section */

#whatWeProvide {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    z-index: 2;
}

#whatWeProvide .box {
    background-color: white;
    border: 1px solid #eee;
    padding: 20px 10px;
    height: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    cursor: pointer;
}

#whatWeProvide .box:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
    z-index: 2;
    background-color: var(--main-color-2);
}

#whatWeProvide .box .image {
    width: 64px;
    aspect-ratio: 1/1;
}

#whatWeProvide .box span {
    color: var(--primary-color);
}

#whatWeProvide .box:hover span {
    color: white;
}

#whatWeProvide .box p {
    color: var(--secondary-color);
}

#whatWeProvide .box:hover p {
    color: white;
}

/* End What We Provide Section */

/* Start whoWeAre Section */

#whoWeAre {
    background-color: #EEF7FD;
    padding-bottom: var(--main-padding);
    padding-top: 250px;
    position: relative;
    top: -200px;
}

#whoWeAre .box h2 {
    color: var(--primary-color);
}

#whoWeAre .box strong {
    color: var(--primary-color);
}

#whoWeAre .box p {
    color: var(--secondary-color);
}

#whoWeAre .box button a {
    color: var(--white-color);
}

#whoWeAre .box .image {
    position: relative;
    max-height: 513px;
    overflow: hidden;
}

#whoWeAre .box .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000006b;
    z-index: 2;
}

#whoWeAre .box .image img {
    height: 100% !important;
}

/* End whoWeAre Section */

/* Start ts-features Section */
#ts-features {
    padding: var(--main-padding) 0;
}

#ts-features .intro-feature .image-box {
    position: relative;
}

#ts-features .intro-feature .img-box-small {
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    z-index: 9;
    background-color: var(--main-color-2);
    color: var(--white-color);
    padding: 10px;
    width: 130px;
    text-align: center;
    font-weight: 700;
    border: 8px solid #eee;
    margin: auto;
    text-transform: uppercase;
}

#ts-features .intro-feature .img-box figure {
    width: 200px;
}

#ts-features .intro-feature .img-box figure:nth-of-type(1) {
    margin-left: 20px;
}

#ts-features .intro-feature .img-box figure:not(:nth-of-type(2)) {
    border: 8px solid #eee;
}

#ts-features .intro-feature .img-box figure:nth-of-type(2) {
    border: 8px solid #eee;
    border-left: 0;
    border-right: 0;
}

#ts-features .intro-feature .img-box figure img {
    height: 100%;
}

#ts-features .featured-tab .nav-tabs li {
    background-color: var(--main-color-3);
    position: relative;
}

#ts-features .featured-tab .nav-tabs li.active {
    background-color: var(--main-color-2);
}

#ts-features .featured-tab .nav-tabs li.active:before {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: var(--main-color-2) transparent transparent transparent;
}

#ts-features .featured-tab .nav-tabs li:nth-of-type(2) {
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
}

#ts-features .featured-tab .nav-tabs .tab-text-title {
    color: var(--white-color);
    font-weight: 700;
    text-transform: uppercase;
}

#ts-features .featured-tab .ts-service-box .ts-service-icon {
    display: flex;
}

#ts-features .featured-tab .ts-service-box .ts-service-icon i {
    width: 60px;
    height: 60px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--main-color-2);
    color: white;
}

#ts-features .featured-tab .ts-service-box h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0 15px;
}

#ts-features .featured-tab .safety {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

/* End ts-features Section */

/* Start Facts Section */

#facts {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../Images/home/facts-images/parallax1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #000000bf;
    background-blend-mode: overlay;
    background-attachment: fixed;

}

#facts .fact-image {
    width: 64px;
    height: 64px;
}

#facts .fact-image img {
    width: 100%;
    color: red;
}

#facts .fact-content {
    display: flex;
    margin: 20px 0 0;
    gap: 10px;
}

#facts .fact-content h2 {
    font-size: 44px;
    font-weight: 700;
    color: var(--white-color);
}

#facts .fact-content h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--main-color-2);
    margin: 0 0 0 10px;
    align-self: flex-end;
}

/* End Facts Section */

/* Start ts-service-area Section */

#ts-service-area {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

#ts-service-area .ts-service-box {
    display: flex;
    gap: 20px;
}

#ts-service-area .service-box-title {
    font-size: 18px;
    font-weight: 700;
}

#ts-service-area .ts-service-box p {
    font-size: 15px;
}

#ts-service-area .service-center-img {
    max-width: 350px;
}

/* End ts-service-area Section */

/* Start project-area Section */

#project-area {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--main-color-3);
}

#project-area .title {
    color: var(--white-color);
    margin-bottom: 30px;
    font-size: 34px;
    line-height: 32px;
    font-weight: 700;
}

#project-area li {
    font-size: 14px;
    color: var(--white-color);
    position: relative;
    cursor: pointer;
}

#project-area li.active::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--main-color-2);
}

#project-area .projects-wrapper {
    margin: 30px 0 0;
    max-width: 100%;
    width: 100%;
}

#project-area .projects-wrapper .project-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

#project-area .projects-wrapper .project-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #00000071;
    z-index: 1;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    opacity: 0;
}

#project-area .projects-wrapper .project-item:hover::before {
    left: 0;
    opacity: 1;
}

#project-area .projects-wrapper .project-item-info-content {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    left: 20%;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    opacity: 0;
    z-index: 2;
}

#project-area .projects-wrapper .project-item:hover>.project-item-info-content {
    top: 50%;
    opacity: 1;
}

#project-area .projects-wrapper .project-item .image {
    overflow: hidden;
}

#project-area .projects-wrapper .project-item .image img {
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#project-area .projects-wrapper .project-item:hover img {
    transform: scale(1.2) rotate(5deg);
}

#project-area .projects-wrapper .project-item-info-content p {
    font-size: 18px;
    font-weight: 700;
    color: var(--white-color);
}

#project-area .projects-wrapper .project-item-info-content span {
    display: block;
    color: var(--white-color);
    background-color: var(--main-color-2);
    padding: 4px 6px;
    font-size: 12px;
    width: fit-content;
    margin-top: 15px;
}


/* End project-area Section */

/* Start why Work Wit hUs Section */

#whyWorkWithUs {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

#whyWorkWithUs .main-heading {
    font-size: 24px;
    margin: 30px 0;
}

#whyWorkWithUs .main-heading::before {
    left: 0;
    transform: translateX(0);
}

#whyWorkWithUs .main-heading::after {
    left: 0;
    transform: translateX(0);
}

#whyWorkWithUs .accordion-item {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

#whyWorkWithUs .accordion-button {
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 18px;
}

.accordion-button:not(.collapsed) {
    background-color: white !important;
    color: var(--main-color-2) !important;
}

#whyWorkWithUs .accordion-button::after {
    content: "\f107";
    font-family: "FontAwesome";
    position: absolute;
    z-index: 0;
    font-size: 14px;
    right: 15px;
    padding: 14px;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: none;
    background-color: var(--dark-gray);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#whyWorkWithUs .accordion-button:not(.collapsed)::after {
    content: "\f106";
    background-color: var(--main-color-2);
}

#whyWorkWithUs .all-clients .clients-logo a {
    border: 1px solid #dadada;
    padding: 15px;
    display: inline-block;
    margin-bottom: 15px;
}

/* End why Work Wit hUs Section */

/* Start testimonial-area Section */

#testimonial-area {
    padding: var(--main-padding) 0;
    background-image: url(../Images/home/Testimonials/parallax2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-color: #000000a6;
    background-blend-mode: overlay;
}

#testimonial-area .container {
    z-index: 1;
}

#testimonial-area .main-heading {
    color: var(--white-color);
}

#testimonial-area #carouselExampleIndicators {
    padding-bottom: 30px;
}

#testimonial-area .carousel-inner .carousel-item .info-wrapper {
    margin-bottom: 30px;
}

#testimonial-area .carousel-inner .carousel-item .info-wrapper .item-box {
    background-color: var(--white-color);
    margin: 40px 0 10px;
    padding: 50px 40px 30px 45px;
}

#testimonial-area .carousel-inner .carousel-item .info-wrapper .item-box::before {
    content: "\f10d";
    font-family: FontAwesome;
    position: absolute;
    font-size: 20px;
    left: 45px;
    top: -20px;
    color: #fff;
    background: #ffc009;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
}

#testimonial-area .carousel-inner .carousel-item .info-wrapper .item-box::after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50px;
    border-width: 16px 0 0 16px;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

#testimonial-area .carousel-inner .carousel-item .info-wrapper .item-box p {
    margin-bottom: 0 !important;
    color: var(--primary-color);
    font-weight: var(--main-fontWeight);
}

#testimonial-area .carousel-item .info-wrapper .quote-item-footer {
    margin-top: 20px;
    margin-left: 70px;
    display: flex;
    align-items: center;
    gap: 25px;
}

#testimonial-area .carousel-item .info-wrapper .quote-item-footer .image {
    overflow: hidden;
}

#testimonial-area .carousel-item .info-wrapper .quote-item-footer .image img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#testimonial-area .carousel-item .info-wrapper .quote-item-footer .quote-item-info h3 {
    font-size: 18px;
    font-weight: var(--main-fontWeight);
    line-height: 18px;
    margin: 0 0 2px;
    color: var(--main-color-2);
}

#testimonial-area .carousel-item .info-wrapper .quote-item-footer .quote-item-info span {
    color: var(--fourthly-color);
    font-size: 14px;
}

/* End testimonial-area Section */

/* Start news Section */

#news {
    padding: var(--main-padding) 0;
}

#news .post-body {
    padding: 20px 0 5px;
}

#news .latest-post .post-title {
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 10px;
    font-weight: var(--main-fontWeight);
}

#news .latest-post .latest-post-meta {
    display: flex;
    gap: 5px;
}

#news .latest-post .latest-post-meta span {
    color: var(--fourthly-color);
    font-size: 14px;
}

#news .latest-post .latest-post-meta span i {
    font-size: 14px;
}


#news .see-all-posts-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* End news"Section */