:root {
    --main-color: #333;
    --main-color-2: #ffc000;
    --main-color-3: #272D33;
    --primary-color: #39364e;
    --secondary-color: #696969;
    --white-color: white;
    --fourthly-color: #9e9e9e;
    --dark-gray: #303030;
    --border-color: #1188dd26;
    --transition: 0.4s;
    --main-padding: 60px;
    --main-fontWeight: 700;
    --position-relative-top: 108px;
    --position-relative-top-mobile: 59px;
}

/* Start Header Section */

.topbar a,
.bottombar a {
    color: var(--main-color);
}

.bottombar {
    background-color: var(--white-color);
}

.navbar-toggler-icon {
    color: var(--main-color) !important;
}

/* End Header Section */

/* Start Hero Section */

#hero {
    background-image: url(../Images/services/hero/banner4.jpg);
    position: relative;
    top: var(--position-relative-top);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
}

#hero #banner-area {
    height: 300px;
    display: flex;
    align-items: center;
}

#hero #banner-area .banner-text {
    margin-left: 25px;
    width: 100%;
}

#hero .banner-heading h1 {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    padding-bottom: 24px;
    margin-bottom: 20px;
    width: fit-content;
}

#hero .banner-heading p {
    width: fit-content;
}

#hero .banner-heading .main-heading::before {
    left: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    width: 70px;
}

#hero .banner-heading .main-heading::after {
    width: 100px;
}

@media(max-width: 576px) {
    #hero {
        top: var(--position-relative-top-mobile);
    }
}

/* End Hero Section */

/* Start services section */

#services {
    position: relative;
    top: var(--position-relative-top);
    padding: var(--main-padding) 0;
}

#services .ts-service-box .ts-service-image-wrapper img {
    width: 100%;
}

#services .ts-service-box .ts-service-info-wrapper {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}


#services .ts-service-box .ts-service-info .service-box-title {
    font-size: 18px;
}

#services .ts-service-box .ts-service-info p {
    font-size: 15px;
}

#services .ts-service-box .learn-more {
    font-size: 15px;
}

@media(max-width: 576px) {
    #services {
        top: var(--position-relative-top-mobile);
    }
}

/* End services section */

/* Start Facts Section */

#facts {
    top: var(--position-relative-top);
    padding: var(--main-padding) 0;
    position: relative;
    top: var(--position-relative-top);
    background-image: url(../Images/home/facts-images/parallax1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #000000bf;
    background-blend-mode: overlay;
    background-attachment: fixed;
}

#facts .fact-image {
    width: 64px;
    height: 64px;
}

#facts .fact-image img {
    width: 100%;
    color: red;
}

#facts .fact-content {
    display: flex;
    margin: 20px 0 0;
    gap: 10px;
}

#facts .fact-content h2 {
    font-size: 44px;
    font-weight: 700;
    color: var(--white-color);
}

#facts .fact-content h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--main-color-2);
    margin: 0 0 0 10px;
    align-self: flex-end;
}

@media(max-width: 576px) {
    #facts {
        top: var(--position-relative-top-mobile);
    }
}

/* End Facts Section */

/* Start testimonial-area Section */

#testimonial-area {
    top: var(--position-relative-top);
    padding: var(--main-padding) 0;
}

#testimonial-area .container {
    z-index: 1;
}


#testimonial-area #carouselExampleIndicators {
    padding-bottom: 30px;
}

#testimonial-area .carousel-inner .carousel-item .info-wrapper {
    margin-bottom: 30px;
}

#testimonial-area .carousel-indicators button {
    background-color: var(--main-color-2);
}

#testimonial-area .carousel-inner .carousel-item .info-wrapper .item-box {
    background-color: var(--white-color);
    margin: 40px 0 10px;
    padding: 50px 40px 30px 45px;
}

#testimonial-area .carousel-inner .carousel-item .info-wrapper .item-box::before {
    content: "\f10d";
    font-family: FontAwesome;
    position: absolute;
    font-size: 20px;
    left: 45px;
    top: -20px;
    color: #fff;
    background: #ffc009;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
}

#testimonial-area .carousel-inner .carousel-item .info-wrapper .item-box::after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50px;
    border-width: 16px 0 0 16px;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

#testimonial-area .carousel-inner .carousel-item .info-wrapper .item-box p {
    margin-bottom: 0 !important;
    color: var(--primary-color);
    font-weight: var(--main-fontWeight);
}

#testimonial-area .carousel-item .info-wrapper .quote-item-footer {
    margin-top: 20px;
    margin-left: 70px;
    display: flex;
    align-items: center;
    gap: 25px;
}

#testimonial-area .carousel-item .info-wrapper .quote-item-footer .image {
    overflow: hidden;
}

#testimonial-area .carousel-item .info-wrapper .quote-item-footer .image img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#testimonial-area .carousel-item .info-wrapper .quote-item-footer .quote-item-info h3 {
    font-size: 18px;
    font-weight: var(--main-fontWeight);
    line-height: 18px;
    margin: 0 0 2px;
    color: var(--main-color-2);
}

#testimonial-area .carousel-item .info-wrapper .quote-item-footer .quote-item-info span {
    color: var(--fourthly-color);
    font-size: 14px;
}

@media(max-width: 576px) {
    #testimonial-area {
        top: var(--position-relative-top-mobile);
    }
}

/* End testimonial-area Section */

/* Start Footer Section */

#footer {
    position: relative;
    top: var(--position-relative-top);
}

/* End Footer Section */